
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


@font-face{
  font-family: 'ApplesScriptDemo';
  src: url('../fonts/ApplesScriptDemo.ttf');
  font-family: 'Yrsa';
  src: url('../fonts/ttf/Yrsa-Regular.ttf');
  font-family:'YrsaLight';
  src: url('../fonts/ttf/Yrsa-Light.ttf');
}

// Color Assignment
$background: #F7F5F3;
$border: #D6D8D9;
$pink: #BF363D;
$black: #2F2F2F;
$grey: #A39D9D;
$resumegrey: #756B64;
$white: #fbfbfa;


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: $background;
  margin: 0px;
}

//################## TEMPLATE STYLES ###################################################//

//*********************HEADER***********************************//


.topContainer {
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 99;
  top: 0px;
  background-color: $background;
  border: none;
  border-bottom: 2px solid $border;
  border-radius: 0;
  font-family: 'Gill Sans';
  font-weight: lighter;
  text-transform: uppercase;
  .header .container {
    max-width: 1050px;
  }
  .navbar-brand {
    width: 66px;
    padding: 0px;
    margin-top: 20px;
  }
  .navbar-collapse {
    margin-top: 15px;
  }
  .navbar-nav {
    margin-top: 15px;
  }
  .navbar-right {
    margin-top: 0px;
    font-size: 17px;
  }
  .nameDescHolder {
    max-width: 402px;
  }
  .name {
    position: relative;
    left: -40px;
    @media(max-width: 767px){
      left: -25px;
      top: 5px;
    }
  }
  .myName {
    top: 20px;
    font-size: 23px;
    font-family: 'Gill Sans';
    letter-spacing: .1em;
    // @media(max-width: 768px){
    //   // margin-left: 15px;
    //   margin-top: 20px;
    // }
    @media(max-width: 575px){
      font-size: 18px;
    }
  }
  .title {
    color: #2F2F2F;
    font-size: 17px;
    font-family: 'Yrsa';
    text-transform: none;
    font-style: italic;
    @media(max-width:575px){
      font-size: 15px;
    }
    @media(max-width: 495px){
      display: block;
      // position: relative;
      // left: 15px;
    }
  }
  @media (max-width: 991px) {
    .navbar-header {
      float: none;
    }
    .navbar-left {
      float: none !important;
    }
    .navbar-right {
      float:right !important;
      margin-left:15px;
    }
    .navbar-toggle {
      display: block;
      border: 1px solid $grey;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-collapse>.navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 10px;
      background-color: $pink;
      border-radius: 5px;
      margin-bottom: 5px;
      color: $white;
      opacity: 0.9;
    }
    .navbar-collapse>.navbar-nav>li>a:hover {
      color: black;
      background-color: white;
    }
    .collapse.in{
      display:block !important;
    }
  }
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: $pink;
  transition: color ease 0.3s;
}

//*********************FOOTER***********************************//


.footer {
  border-top: 2px solid $border;
  background-color: $background;
  height: 70px;
  .fa {
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
    color: $border;
  }
  .fa:hover {
    cursor: pointer;
    color: $pink;
    transition: color 0.2s ease;
  }
}


//################## HOME PAGE STYLES ###################################################//


//*********************INTRO SECTION***********************************//

.introSection {
  margin-top: 80px;
  .aboutMe {
    border-left:none;
    margin-bottom: 0px;
    letter-spacing:.1em;
    color: $black;
    height: 25vw;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    padding-top: 1vw;
    background-image: url('../images/flower.jpg');
    background-size: cover;
    background-position: 28% 44%;
    span {
      font-family: 'Gill Sans';
      font-size: 7vw;
      color: white;
      text-transform: uppercase;
      font-weight: lighter;
    }
    p {
      font-family: 'Yrsa';
      font-size: 2.1vw;
      font-style: italic;
      font-weight: bold;
      padding: 10px 115px;
      color: $pink;
      letter-spacing: .1em;
    }
  }
}

//********************* MY DESCRIPTION SECTION ***********************************//

.myDescriptionContainer {
  max-width: 1050px;
}
.myDescriptionSection {
  background-color: #fbfbfa;
  padding: 60px;
  margin-top: 30px;
  .profile {
    height: 150px;
    width: 150px;
    border:4px solid $black;
    border-radius: 50%;
    background-image: url('../images/profilePic.jpg');
    background-size:475px;
    background-position: 30% 2%;
    position: relative;
    margin: 0 auto;
  }
  .profile.expand {
    width: 10em;
  }
  .welcomeSection {
    font-family: 'Gill Sans';
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
  }
  .description {
    font-family: 'Yrsa';
    font-size: 17px;
    text-align: center;
    text-transform: none;
    letter-spacing: .1em;
    margin-top: 30px;
    padding: 0px 50px;
    color: $grey;
  }
  .contact {
    font-size: 28px;
    color: $black;
    margin-top: 30px;
  }
  .contact:hover {
    color: $pink;
    cursor: pointer;
    transition: color ease 0.3s;
  }
  .contact span {
    font-size: 15px;
    padding-left: 10px;
    display: block;
    text-transform: none;
    font-family: 'Gill Sans';
  }
  .aboutMeTitle {
      font-size: 40px;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Gill Sans';
      color: $black;
      padding: 50px;
      letter-spacing: 0.1em;
      font-weight:normal;
      @media(max-width: 478px){
        font-size: 30px;
        padding: 0px;
      }
  }
  .borderBottom {
    height: 4px;
    background-color:$border;
    position: relative;
    top: 5px;
  }
}

//################### TIMELINE SECTION STYLES ###############################################//

// .timelineSection {
//   margin-top: 50px;
//   text-align: center;
//   // margin-bottom: 50px;
//   max-width: 1200px;
//   .usc,
//   .medical,
//   .tiy {
//     z-index: 90;
//   }
//   img {
//     width: 100px;
//     border-radius: 50%;
//     border: 3px solid $border;
//   }
//   .tlLine {
//     height: 3px;
//     background-color: $border;
//     transform: rotate(90deg);
//     transform-origin: 598px;
//     position: relative;
//     top: 690px;
//     width:1110px;
//   }
//   .tlLine:before, .tlLine:after {
//   content: '';
//   height: 15px;
//   width: 15px;
//   border-radius: 50%;
//   float: left;
//   background: $border;
//   position: absolute;
//   }
//   .tlLine:after {
//     float: right;
//     bottom: -6.5px;
//     left: -7px;
//   }
// }
// // .tlLine {
// //   height: 3px;
// //   background-color: $border;
// //   margin-left: 130px;
// //   margin-right: 130px;
// //   margin-top: 200px;
// // }
// .tlPics {
//   min-height: 300px;
//   // border: 1px solid black;
//   .col-md-4 {
//     padding-top: 150px;
//     padding-bottom: 150px;
//   }
//   h4 {
//     font-family: 'Gill Sans';
//     font-weight: lighter;
//     font-size: 25px;
//   }
// }
// .uscDescription,
// .tiyDescription,
// .medDescription {
//   font-family: 'Yrsa';
//   font-size: 15px;
//   color: grey;
//   // padding: 15px 50px;
// }
// .uscDescription h3,
// .medDescription h3,
// .tiyDescription h3  {
//   font-weight:bold;
//   margin-top:0px;
//   color: $pink;
// }
.timelineContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  // color: $white;
  font-family: 'Yrsa';
  font-weight: lighter;
  font-size: 18px;
  h4 {
    font-size: 25px;
    color: #83252A;
    font-weight: bold;
    text-align: center;
  }
  time {
    color: white;
    font-size: 19px;
    font-weight: lighter;
    font-family: 'Gill Sans';
  }
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }

  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #ca444b;
  }

  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }

  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ca444b transparent transparent;
  }

  .timeline ul li:nth-child(even) div {
    left: -439px;
  }

  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #ca444b;
  }
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px; /*250+45-6*/
    }
  }
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }

    .timeline ul li div {
      width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
      left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent;
    }
  }
}


//################### PORTFOLIO SECTION STYLES ###############################################//


.row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;
}
.workContainer {
  margin-top: 30px;
  max-width: 1050px;
  background-color: $white;
  margin-bottom: 30px;
  .myWorkSection {
    padding: 50px 114px;
  }
  .borderBottom {
    height: 4px;
    background-color:$border;
    position: relative;
    top: 150px;
    margin-left:50px;
    margin-right:50px;
    @media(max-width:991px){
      top: 0px;
    }
  }
  .myWorkTitle {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gill Sans';
    color: $black;
    padding: 50px;
    background: $white;
    letter-spacing: 0.1em;
  }
  .thumb {
    height: 229px;
    margin-bottom: 10px;
    @media(max-width:767px){
      height: auto;
    }
  }
  .thumbnail {
    height: 100%;
    padding: 0px;
    position: relative;
    overflow:hidden;
  }
  img {
    height: 100%;
    width: 100%;
    margin: 0px;
  }
  .caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(0, 0, 0, 0);
    width:100%;
    height:100%;
    display: block;
    text-align:center;
    z-index:2;
    transition: all 0.3s ease;
  }
  .caption h4 {
    font-family: 'Gill Sans';
    color:rgba(0, 0, 0, 0);
    text-transform: uppercase;
    font-weight: lighter;
    transition: color 0.3s ease;
    margin-top: 90px;
    @media(max-width: 480px){
      margin-top: 50px;
    }
  }
  .thumbnail:hover{
    .caption {
      background:rgba(191, 54, 61, 0.9);
      cursor: pointer;
    }
    .caption h4 {
      color:white;
      cursor:pointer;
    }
  }
}


//################### RESUME SECTION STYLES ###############################################//

.resumeSection {
  margin-top: 110px;
  margin-bottom: 30px;
  background-color: $white;
  max-width: 1050px;
  padding: 40px;
  padding-top: 30px;
  .resumeTitle{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gill Sans';
    color: $black;
    padding: 20px;
    letter-spacing: 0.1em;
  }
  .borderBottom {
    height: 4px;
    background-color:$border;
    position: relative;
    top: 5px;
    margin-bottom: 30px;
  }
  h3 {
    font-family: 'Gill Sans';
    text-transform: uppercase;
    color: $pink;
    margin-bottom: 30px;
  }
  ul {
  font-family: 'Yrsa';
  color: $pink;
  }
  span {
  color: $black;
  font-size: 17px;
  }
  h4{
  font-family: 'Gill Sans';
  font-size: 20px;
  color: $resumegrey;
  font-weight: lighter;
  }
  h5 {
    font-family: 'Gill Sans';
    font-size: 15px;
    font-weight: bold;
  }
  .educationSection{
    h4 span{
      font-family: 'Gill Sans';
      font-size: 20px;
      color: $resumegrey;
      font-weight: lighter;
    }
    .year {
      font-family: 'Yrsa';
      font-size: 17px;
      color: $resumegrey;
      float: right;
    }
  }
  .skillSection {
    span {
      font-family: 'Yrsa';
      font-size: 17px;
      margin-bottom: 10px;
    }
    .skill {
      margin-top: 15px;
    }
  }
  .workSection {
    h4 span{
      font-family: 'Gill Sans';
      font-size: 20px;
      color: $resumegrey;
      font-weight: lighter;
    }
    .year {
      font-family: 'Yrsa';
      font-size: 17px;
      color: $resumegrey;
      float: right;
    }
  }
}

.resumePDF {
  max-width: 1050px;
  margin-bottom: 30px;
  background-color: $pink;
  .contact {
    padding: 30px;
    font-size: 20px;
    font-family: 'Gill Sans';
    font-weight:lighter;
    color: #83252A;
    text-transform: uppercase;
    text-align: center;
  }
  i {
    margin-right: 10px;
  }
  .contact:hover {
    color: $white;
  }
}
.resumeHolder:hover {
  background-color: #ca444b;
}

//################### SINGLE PROJECT SECTION STYLES ###############################################//

.projectContainer {
  margin-top: 110px;
  max-width: 1050px;
}
.projectTitle {
  font-family: 'Gill Sans';
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.projectInfo {
  font-family:'Yrsa';
  font-size: 17px;
  font-weight: lighter;
  color: $resumegrey;
}
.techTitle {
  font-family: 'Gill Sans';
  font-size: 24px;
  font-weight: lighter;
}
.tech {
  font-family: 'Yrsa';
  font-size: 17px;
  color: $resumegrey;
}
.btn-success {
  background-color: $pink;
  border-color: $pink;
  font-family: 'Gill Sans';
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}
.codebtn {
  background-color: $border;
  border-color: $border;
}
.myImage {
  padding: 5px;
  background-color: $border;
  border: 1px solid #C0C2C3;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
