
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #DFDEE2;
}

//################## TEMPLATE STYLES ##############################//
.header {
  background-color: #5F5E6E;
  height: 100px;
  font-family: 'Poiret One', cursive;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 25px;
  color: #A8BDC9;
  position:fixed;
  top: 0;
  z-index: 100;
  .links {
    float: right;
    margin-right:30px;
    margin-top: 30px;
  }
  .links span{
    margin-right:35px;
  }
}

.footer {
  background-color: #5F5E6E;
  height: 70px;
  border-top: 3px solid #2f2f37;
  .fa {
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
    color: #2f2f37;
  }
  .fa:hover {
    cursor: pointer;
    color: #A8BDC9;
  }
}


//################## HOME PAGE STYLES ##############################//

.imageContentDiv{
  padding-right: 0px;
  // margin-top: 100px;
}
.imageOfMeContainer{
  position: relative;
  height: 400px;
  background: {
   image: url('../images/IMG_2991.jpg');
   size: 100%;
   position: 30% 52%;
   repeat: no-repeat;
 }
  // background-image: url('../images/IMG_2991.jpg');
  // height: 500px;
  // background-size: 100%;
  // background-position: center;
  // overflow: none;
}
  .imageOfMeContainer:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: rgba(63, 129, 191, 0.4);
  // z-index: -1;
}
h1 {
  font-family: 'Poiret One', cursive;
  margin-top: 0px;
  font-size: 200px;
  color: #FEF9E6;
  z-index: 100;
}


.myWorkSection {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  // border: 4px solid #2f2f37;
}
.myWorkTitle {
  font-family: 'Pacifico', cursive;
  font-size: 37px;
  border-bottom: 2px solid #2f2f37;
  color: #A8BDC9;
}
.thumb {
  height: 300px;
  img {
    height: 100%;
    width: 100%;
  }
}
.project {
  border: 1px solid black;
}




// .fullSpace {
//   background-color: #5F5E6E;
// }
.aboutMeSection {
  // margin-top: 20px;
  height: 500px;
  // border: 4px solid #2f2f37;
  background-color: #5F5E6E;
  padding: 50px;
}
p {
  border: 4px solid #2f2f37;
  border-bottom: none;
  margin-bottom: 0px;
  color: #B5BFBC;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  padding: 100px;
  text-align: center;
}
.contact {
  border: 4px solid #2f2f37;
  padding: 50px;
  color:#B5BFBC;
  font-family: 'Pacifico', cursive;
}
.glyphicon {
  color: #B5BFBC;
  font-size: 25px;
  text-align: center;
}
.contactText {
  margin-left: 20px;
  font-size: 25px;
}
