---
import type { CollectionEntry } from "astro:content";

import Layout from "./Layout.astro";
import BlogHero from "@/components/blog/Hero.astro";

interface Props {
    post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const {
	data: { description, ogImage, publishDate, title, updatedDate },
	slug,
} = post;

// const { headings } = await post.render();
--- 

<Layout meta={{ description, title }}>
    <div class="gap-x-10 lg:flex lg:items-start">
        <article class="flex-grow break-words" data-pagefind-body>
            <div id="blog-hero">
                <BlogHero content={post} />
            </div>
            <div
				class="prose prose-sm prose-cactus mt-12 prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-th:before:content-none"
			>
				<slot />
            </div>
        </article>
    </div>
</Layout>